{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "es5",
	"arrowParens": "avoid",
	"printWidth": 100,
	"semi": false,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteStrictMode": true,
				"svelteIndentScriptAndStyle": true
			}
		}
	]
}
